* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3ab795;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin-top: 4rem;
  color:#FFCF56;
  font-size: 3rem;
}
.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #a0e8af;
  font-weight: bold;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #FFCF56;
  color: #3AB795;
  border-radius: 1rem;
  border: none;
  margin-bottom: 0.6rem;
  font-weight: bold;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #FFCF56;
  color: #3AB795;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
}

#msg {
  color: #FFCF56;
  font-size: 3rem;
  font-weight: bold;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
